{% extends 'base.html' %}

{% comment %} title {% endcomment %}
{% block title %}Edit{% endblock title %}

{% comment %} breadcrumb {% endcomment %}
{% block bread %}
<div class="mx-2 my-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{%url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{%url 'home' %}">Show: {{image.id}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </nav>
</div>
{% endblock bread %}

{% comment %} body {% endcomment %}
{% block body %}
<h1 class="display-6 my-2 d-flex justify-content-center">Edit Image</h1>
<div class="container my-3 card p-4">
    <form method="post" action="/:{{image.id}}/edit">
        {% csrf_token %}
        <fieldset disabled>
        <div class="form-group">
            <label for="disabledTextInput">Image Name</label>
            <input type="text" id="disabledTextInput" class="form-control" name="name" value="{{ image.name }}" >
        </div>
        </fieldset>
        <div class="form-group">
            <label for="formGroupExampleInput2">Image Url</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" name="url" value="{{image.url}}">
        </div>        
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Image Details</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="detail" rows="4" >{{image.detail}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock body %}